:root {
    /* --color-code-primary: #94bd75; */
    /* --color-code-quaternary: #f18ea1; */
    /* --color-code-secondary: #9af; */
    /* --color-code-tertiary: #eba466; */
    /* --color-secondary: #d05d5d; */
    /* --color-quaternary: #e0c24d; */
    /* --color-primary: #5d70d0; */
    /* --color-tertiary: #d05d74; */

    --color-primary: #fbf36d;
    /* --color-primary: #6dfba4; */
}

html {
    font-family: "Inter", sans-serif;
    text-align: left;
}

body {
    margin: 0;
    font-size: 1.25rem;
}

section {
    max-width: min(40rem, 90%);
    margin: 8rem auto;
}

section.inset {
    max-width: min(40rem, 90%);
    margin: 8rem auto;
    display: grid;
    grid-template-columns: 3rem auto;
}

section.inset section {
    max-width: 100%;
    margin-top: 0;
}

section.inset section h1 {
    margin-top: 0;
}

section.inset section p:last-child {
    margin-bottom: 0;
}


h1 {
    font-family: "PT Serif", serif;
    font-size: 2.25rem;
    font-weight: 700;
}

.credits {
    color: #757575;
    font-size: 1rem;
    text-decoration: underline;
    background: none;
    align-self: self-end;
    margin-top: 1rem;
}

a {
    color: #000;
    text-decoration: none;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, var(--color-primary) 60%, var(--color-primary) 100%);
}

a:hover {
    background: linear-gradient(to bottom, transparent 0%, transparent 0%, var(--color-primary) 0%, var(--color-primary) 100%);
}

section p {
    text-align: left;
    line-height: 2rem;
}

#intro {
    margin-top: 0;
}

#intro-img {
    float: right;
    right: 1rem;
    top: 0rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

#me {
    height: 30rem;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of the @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: 3;
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;

  margin-top: 3rem;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.border {
    height: 100vh;
    background-color: var(--color-primary);
    position: fixed;
    width: 1vw;
}

.border-right {
    height: 100vh;
    background-color: var(--color-primary);
    position: fixed;
    right: 0;
    width: 1.5vw;
}

.emphasise {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, var(--color-primary) 60%, var(--color-primary) 40%);
}

.magic {
}

section:last-child {
    margin-bottom: 0rem;
}

.end {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#squiggle {
    grid-row: 1 / 6;
    height: 100%;

    background-color: var(--color-primary);
    width: 1rem;
}

.no-margin-top {
    margin-top: 0;
}

.business-name {
    font-weight: 700;
    color: #8c8c8c;
}

#contact-header {
    margin-bottom: 0;
}
